body {
				padding : 25px ;
}
img{
				width: 70px;
				height: 70px;
				border-radius: 35px;
				position : relative;
				bottom : 40px ;
}
div{
				margin : auto;
				width: 60%;
				padding: 15px ;
				border : 1px solid black ;
				text-align : center ;
				border-radius : 15px ;
}
i{
				margin: 35px ;
				font-size : 30px ;
}
p{
				font-size : 18px;
				
}